DATASET_URL='https://www.kaggle.com/datasets/mlg-ulb/creditcardfraud/'

# API configuration
API_HOST=127.0.0.1
API_PORT=8000
API_URL=http://127.0.0.1:8000

# Model artifacts
MODEL_PATH=models/xgboost_model.json
SCALER_PATH=models/scaler.joblib
